body {
    font-size:70%;
}

.box {
    margin:auto;
    width:61rem;
    height: 14.5rem;
    border: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(48,28,130,255);
}

.item { /*for testing purposes */
    height: 2.5rem;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: rgba(0,128,0,255);
    margin-top: 1rem;
    margin-right: 6rem;
    margin-left: 6rem;
}

.keyboard{
    display: flex;
    flex-direction: row;
    background-color: rgba(255,255,255,255);
    margin-top: 1rem;
    margin-right: 10%;
    margin-left:10%;
    height: 60%;
    line-height:2%; 
    position: relative;
}

.keyboard > div { /* Child element */
    height:100%;
    width:20%;
    border:0.1rem solid rgba(0,0,0,255);
}

div + span { /* Sibling element */
    position: absolute;
    height: 5rem; /* make sure height doesn't change */
    border: 0.1rem solid rgba(0,0,0,255);
    background-color: rgba(0,0,0,255);
    color: white;
    width: 2.9%;
    text-align: center;

}

.keyboard > div > p {
    text-align: center;
    margin-left:5%;
}

.keyboard > div > p:first-child {
    margin-top:100%;
}

.keyboard > span > p:first-child {
    margin-top:150%;
}

/* For screensize > 1000px*/
/*
@media only screen and (min-width: 1000px) {
    .node1 {
        left:8.5%;
    }
    
    .node2 {
        left:18.5%;
    }

    .node3 {
        left:38.5%;
    }

    .node4 {
        left:48.5%;
    }

    .node5 {
        left:58.5%;
    }

    .node6 {
        left:78.5%;
    }

    .node7 {
        left:88.5%;
    }
}
*/
.node1 {
    left:8.5%;
}

.node2 {
    left:18.5%;
}

.node3 {
    left:38.5%;
}

.node4 {
    left:48.5%;
}

.node5 {
    left:58.5%;
}

.node6 {
    left:78.5%;
}

.node7 {
    left:88.5%;
}
