body {
    font-size:0.968rem;
    font-family: Arial;
}

#stopImage {
    display:none;
}

#stopMessage {
    display:none;
}

/* Remove button padding in FF */
button::-moz-focus-inner {
    border:0;
    padding:0;
}

/*
*
*   Box configurations (Container/Flexbox)
*
*/

.container {
    display:flex;
    flex-direction: column;
    margin:auto;
    max-width:60rem;
    height: 17rem;
    border: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(48,28,130,255);
}


/*
*
*   Header configurations (Box above the Keyboard)
*
*/

.header {
    /* Main wrapper, flexbox in the header*/
    display: flex;
    align-items:flex-start;
    background-color: rgba(0,128,0,255);
    margin-top: 1rem;
    margin-right: 10%;
    margin-left: 10%;
    position:relative;
    height:2.8rem;
}

/*headerItem1*/

#headerItem1 {
    /*First child of the header flexbox parent*/
    /*also a flexbox*/
    flex-grow:1;
    display:flex;
    justify-content:flex-start;
    column-gap: 0.3rem;
}

#headerItem1 > p {
    /*p child of the Item1 flexbox*/
    margin-top: 1.1rem;
    margin-left:3%;
}

#headerItem1 > select {
    /*select child of the Item1 flexbox*/
    margin-top: 0.95rem;
    height: 1.18rem;
}

#headerItem1 > button {
    /*button child of the Item1 flexbox*/
    margin-top: 0.6rem;
    height: 1.7rem;
    width: 1.7rem;
}

#headerItem1 > button > img {
    /*Ensure the image doesn't scale outside of the button size*/
    height: 0.88rem;
    width: 0.8rem;
    margin-top:0.2rem;
}

/*headerItem2*/

#headerItem2 {
    /*Second child of the header flexbox parent*/
    /*also a flexbox*/
    flex-grow:2;
    display:flex;
    justify-content:flex-end;
    column-gap: 0.3rem;
}

#headerItem2 > p {
    /*p child of the Item1 flexbox*/
    margin-top: 1.1rem;
}

#headerItem2 > button {
    /*button child of the Item1 flexbox*/
    margin-top: 0.6rem;
    height: 1.7rem;
    width: 1.7rem;
}

#headerItem2 > button:nth-child(3) {
    /*Margin given to the stop button*/
    margin-right:3%;
}

#headerItem2 > button > img {
    /*Ensure the image doesn't scale outside of the button size*/
    height: 0.88rem;
    width: 0.8rem;
    margin-top:0.2rem;
}

/* 
*
*   Keyboard configurations
*
*/

.keyboard{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-right: 10%;
    margin-left:10%;
    height:44%;
    position: relative;
}

.keyboard > .key { 
    height:150%;
    width:20%;
    background-color: rgba(255,255,255,255);
}

button + .node { 
    /* Sibling element */
    position: absolute;
    height: 7rem; /* make sure height doesn't change relative to website size*/
    background-color: rgba(0,0,0,255);
    color: white;
    width: 5.8%;
}

.keyboard > button > span {
    text-align: center;
    margin-left:5%;
    display:block; /*Since P is banned within button elemts, I'll make my span behave like a block element opposed to inline element*/
    font-family: Arial;
    font-size:0.968rem;
}

.keyboard > button > span:first-child {
    margin-top:15%;
}

.keyboard > .node > span:first-child {
    margin-top:50%;
}

.keyboard > button:active {
    background-color:rgba(128,128,128,255);
}

/*To align the floating black keys*/
.node1 {
    left:7.2%;
}

.node2 {
    left:17.2%;
}

.node3 {
    left:37.2%;
}

.node4 {
    left:47.2%;
}

.node5 {
    left:57.2%;
}

.node6 {
    left:77.2%;
}

.node7 {
    left:87.2%;
}

@media print {
    /*For the printable version*/
    .header {
        visibility:hidden;
    }
    .header > * {
        visibility: visible;
    }

    .keyboard, .container {
        visibility: hidden;
    }

    .keyboard > * {
        visibility: visible;
    }
}

@media only screen and (max-width: 599px) {
    /*When the oops image is displayed*/
    #displayPiano {
        display:none;
    }

    #StopContainer {
        display: flex;
        flex-direction: column;
        margin: auto;
        height: 21rem;
        max-width: 30rem;
    }

    #stopImage {
        display: unset;
    }
    
    #stopMessage {
        display: unset;
        margin-left: 18%;
        font-size: 2.5vw;
    }
}

@media only screen and (max-width:999px) { 
    /*Viewport scale the keyboard fontsize to fit the keys*/
    .keyboard > button > span {
        font-size:1.55vw;
    }
}